.login-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);

  justify-content: center;
  align-items: center;
}

.login-wrapper .form-wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
}

.login-wrapper .form-wrapper .textfield {
  margin: 5px 0 !important;
}

.login-wrapper .form-wrapper .login-button {
  width: 100%;
  border-radius: 0px !important;
  border: 0.25px solid dimgray !important;
}

.login-wrapper .form-wrapper .login-error {
  height: 50px;
  color: crimson;
}
