.logo-header {
  margin-left: 0;
}

.logo-header img {
  width: 50px;
  height: 50px;
}

.auth-header,
.unauth-header {
  display: flex;
  width: 100%;
  z-index: 1255;
  background-color: #78c5dc;

  justify-content: space-between;
  align-items: center;
}
